<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration for all tests with no extra logging -->
<phpunit bootstrap="../../vendor/autoload.php" colors="true">
    <php>
        <ini name="allow_call_time_pass_reference" value="true"/>
        <ini name="error_log" value="/dev/null"/>
        <ini name="memory_limit" value="1G"/>
    </php>
    <testsuites>
        <testsuite name="Common-Queue">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../include</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/coverage" title="Common Queue Code Coverage"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="junit" target="build/logs/junit.xml"
             logIncompleteSkipped="false"/>
    </logging>
</phpunit>
